body{
    background-color: #d7e8e8;
background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%231cae9b' fill-opacity='0.1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    flex-direction: column;
    font-family: Karla,sans-serif;
    font-weight: 700;
    font-size: 16px;justify-content: center;
    align-items: center;
    
    align-content: center;
}
.container{
    background: white;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.26);
    width: 50%;
    margin-top: 200px;
   border-radius: 10px;
}
p{
    font-weight: 400;
}
.uno{
    display: flex;
    flex-direction: column;
    margin: 30px 50px;
    
}
.uno h1{
    
    color: hsl(179, 62%, 43%);
}
.uno h2{
    color: hsl(71, 73%, 54%);
}
.uno p{
   color:hsl(218, 22%, 67%);
}
.dos{
    display: grid;
    grid-template-columns: repeat(2,50%);
    color: white;
}
.sign{
    background:hsl(179, 62%, 43%) ;
    padding: 20px 50px;
}
.why{
    background:hsl(179, 43%, 59%) ;
    padding: 20px 50px;
    
    line-height: 30px;
    text-align: left;
}
.btn{
    width: 100%;
    background: hsl(71, 73%, 54%);
    border-style: none;
    font-weight: 700;
    height: 50px;
    color: white;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    margin: 30px 0;
}
.btn:hover{
    color: hsl(179, 62%, 43%);
    opacity: .7;
}
.money{
    font-size: 40px;
}
.grey{
    color: hsl(204, 43%, 93%);
    text-decoration: none;
    font-weight: lighter;
    

}
.oferta{
    display: grid;
    grid-template-columns:1fr 1fr ;
    align-items: center;
}
@media (max-width:850px)
{
    
    .container{
        width: 70%;
        margin-top: 20px;
    }
    .uno{
        margin: 10px 30px;
    }
    
    .sign{
        padding: 10px 30px;
    }
    .why{
        padding: 10px 30px;
        height: auto;
    }
}
@media (max-width:500px)
{
    
    .container{
        width: 80%;
    }
    .uno{
        margin: 10px 30px;
    }
    .dos{
        display: flex;
        flex-direction: column;
        
    }
    .sign{
        padding: 10px 30px;
    }
    .why{
        padding: 10px 30px;
        height: 300px;
    }
}

